<% if user_signed_in? %>
    <% if current_user.already_liked?(bean) %>
                    <%= link_to bean_like_path(id: bean.id, bean_id: bean.id), method: :delete, remote: true do %>
                    <i class="fas fa-heart" ></i><%= bean.likes.count %>
                <% end %>
        <% else %>
                <%= link_to bean_likes_path(id: bean.id, bean_id: bean.id), method: :post, remote: true do %>
                    <i class="far fa-heart" ></i><%= bean.likes.count %>
                <% end %>
        <% end %>
    <% else %>
        <span class="already_heart"><i class="far fa-heart"></i><%= bean.likes.count %></span>
    <% end %>