<secton class="tabBox">
    <ul class="tabList">
            <li class="tab active" data-tab-id="1">肉</li>
            <li class="tab" data-tab-id="2">魚</li>
            <li class="tab" data-tab-id="3">野菜</li>
    </ul>
    <!--タブで選択された要素部分-->
    <div class="tabContentList">
        <article class="tabContent active" id="content_1">
            <% @user.beans.each do |t| %>
                <% if t.privacy=="1" %>
                    <div class="bean">
                        <div class="product_name">
                            <%= t.brand %><p>
                        </div>
                        <div class="thumbnail">
                            <%= image_tag t.image_url, size: "500x500" if t.image? %>
                        </div>
                            <% if user_signed_in? %>
                                <% if current_user.already_liked?(t) %>
                                    <%= link_to bean_like_path(id: t.id, bean_id: t.id), method: :delete do %>
                                            <i class="fas fa-heart"></i><%= t.likes.count %>
                                    <% end %>
                                <% else %>
                                    <%= link_to bean_likes_path(id: t.id, bean_id: t.id), method: :post do %>
                                            <span class-"heart"><i class="far fa-heart"></i><%= t.likes.count %></span>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <i class="far fa-heart"></i><%= t.likes.count %>
                            <% end %>
                        <%= link_to "詳細へ", bean_path(t.id) %>
                        <% if user_signed_in? && current_user.id == t.user_id %> 
                            <%= link_to "編集する", edit_bean_path(t.id) %>
                            <%= link_to "削除する", bean_path(t.id), method: :delete, data: { confirm: "削除しますか？" }%>
                        <% end %>
                    </div>
                    <span class="date"><%= t.created_at.to_s(:datetime_jp) %></span>
                <% end %>
            <% end %>
        </article>

        <article class="tabContent" id="content_2">
            <% @user.beans.each do |t| %>
                <% if t.privacy=="2"&&t.user.id==current_user.id %>
                    <div class="bean">
                        <div class="product_name">
                            <%= t.brand %><p>
                        </div>
                        <div class="thumbnail">
                            <%= image_tag t.image_url, size: "500x500" if t.image? %>
                        </div>
                            <% if user_signed_in? %>
                                <% if current_user.already_liked?(t) %>
                                    <%= link_to bean_like_path(id: t.id, bean_id: t.id), method: :delete do %>
                                            <i class="fas fa-heart"></i><%= t.likes.count %>
                                    <% end %>
                                <% else %>
                                    <%= link_to bean_likes_path(id: t.id, bean_id: t.id), method: :post do %>
                                            <span class-"heart"><i class="far fa-heart"></i><%= t.likes.count %></span>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <i class="far fa-heart"></i><%= t.likes.count %>
                            <% end %>
                        <%= link_to "詳細へ", bean_path(t.id) %>
                        <% if user_signed_in? && current_user.id == t.user_id %> 
                            <%= link_to "編集する", edit_bean_path(t.id) %>
                            <%= link_to "削除する", bean_path(t.id), method: :delete, data: { confirm: "削除しますか？" }%>
                        <% end %>
                    </div>
                    <span class="date"><%= t.created_at.to_s(:datetime_jp) %></span>
                <% end %>
            <% end %>
        </article>

        <article class="tabContent" id="content_3">
            <% @user.liked_beans.each do |t| %>
                <div class="bean">
                    <div class="product_name">
                        <%= t.brand %><p>
                    </div>
                    <div class="thumbnail">
                        <%= image_tag t.image_url, size: "250x200" if t.image? %><p>
                </div>
                <span class="heart"><i class="far fa-heart"></i><%= t.likes.count %></span>
                <%= link_to "詳細へ", bean_path(t.id) %>
                <% if user_signed_in? && current_user.id == t.user_id %> 
                    <%= link_to "編集する", edit_bean_path(t.id) %>
                    <%= link_to "削除する", bean_path(t.id), method: :delete, data: { confirm: "削除しますか？" }%>
                <% end %>
            </div>
            <div class="date">
                <%= t.created_at.to_s(:datetime_jp) %>
            </div>
            
            </div>
            <% end %>

        </article>
    </div>
</secton>