<body>

      <center>
<div class="beans-container">
      <div class="dekai_midashi">
            投稿一覧<p>
      </div>
      <p>
      <% @beans.each do |t| %>
            <% if t.privacy=="1" %>
                  <% if user_signed_in? %>
                  <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
                  <% else %>
                  <a href="/users/sign_in"><%= t.user.name %></a>
                  <% end %>
                  <div class="bean">
                        <div class="right-container">
                                    <div class="title">
                                          名称
                                    </div>
                                    <%= t.brand %>
                                    <div class="title">
                                          購入場所
                                    </div>
                                    <%= t.shop %>
                              <div class="thumbnail">
                                    <%= image_tag t.image_url, size: "250x200" if t.image? %>
                              </div>
                              <br>
                              <div class="date">
                                    <%= t.created_at.to_s(:datetime_jp) %>
                              </div>
                                    <span id="likes_buttons_<%= t.id %>">
                                          <%= render "likes/like", bean: t %>
                                          </span>
                                          <%= link_to "詳細へ", bean_path(t.id) %>
                                          <% if user_signed_in? && current_user.id == t.user_id %>  
                                                <%= link_to "編集する", edit_bean_path(t.id) %>
                                                <%= link_to "削除する", bean_path(t.id), method: :delete, data: { confirm: "削除しますか？" } %>
                                                <% end %>
                              <p>
                              <p>
                              <div class="Separator2">
                                    <hr color="#ffffff">
                                    </div>
                        </div>
                  </div>
            <% end %>
      <% end %>

<%= paginate @beans %>

</body>
