Coffee diary


<form>
<fieldset>
<legend>飲み方</legend>
  <div>
    <input type="checkbox" id="black" name="interest" value="black">
    <label for="black">black</label>
  </div>
  <div>
    <input type="checkbox" id="milk" name="interest" value="milk">
    <label for="milk">milk</label>
  </div>
  <div>
    <input type="checkbox" id="suger" name="interest" value="suger">
    <label for="suger">suger</label>
  </div>
  <div>
    <input type="checkbox" id="milk&suger" name="interest" value="milk&suger">
    <label for="milk&suger">milk&suger</label>
  </div>
  <div>
    <input type="checkbox" id="other" name="interest" value="other">
    <label for="other">Other</label>
    <input type="text" id="otherValue" name="other">
  </div>
  <div>
  </div>
</fieldset>
</form>

<center>
<div class="heading">
  <div class="heading2">
    Profile
  </div>
</div>
<br>
<div class="icon">
  <%= image_tag @user.image_url, size: "200x200" if @user.image? %>
</div>

<span class="user_title">ユーザー名 :</span> <%= @user.name %>
<p>

<span class="user_title">プロフィール</span><p>
<%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>
<br>

<div class="heading">
      投稿一覧
</div>
<% @user.beans.each do |t| %>
    <% if t.privacy=="1" %>
      <div class="bean">
        <div class="product_name">
          <%= t.brand %><p>
        </div>
        <div class="thumbnail">
          <%= image_tag t.image_url, size: "500x500" if t.image? %>
          </div>
          <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                    <%= link_to bean_like_path(id: t.id, bean_id: t.id), method: :delete do %>
                          <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
              <% else %>
                    <%= link_to bean_likes_path(id: t.id, bean_id: t.id), method: :post do %>
                          <span class-"heart"><i class="far fa-heart"></i><%= t.likes.count %></span>
                    <% end %>
              <% end %>
          <% else %>
              <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
        <%= link_to "詳細へ", bean_path(t.id) %>
        <% if user_signed_in? && current_user.id == t.user_id %> 
          <%= link_to "編集する", edit_bean_path(t.id) %>
          <%= link_to "削除する", bean_path(t.id), method: :delete, data: { confirm: "削除しますか？" }%>
          <span class="date"><%= t.created_at.to_s(:datetime_jp) %></span>
        <% end %>
      </div>
    <% elsif t.privacy=="2"&&t.user.id==current_user.id %>
      <div class="bean">
        <div class="product_name">
          <%= t.brand %><p>
        </div>
        <div class="thumbnail">
          <%= image_tag t.image_url, size: "500x500" if t.image? %>
          </div>
          <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                    <%= link_to bean_like_path(id: t.id, bean_id: t.id), method: :delete do %>
                          <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
              <% else %>
                    <%= link_to bean_likes_path(id: t.id, bean_id: t.id), method: :post do %>
                          <span class-"heart"><i class="far fa-heart"></i><%= t.likes.count %></span>
                    <% end %>
              <% end %>
          <% else %>
              <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
        <%= link_to "詳細へ", bean_path(t.id) %>
        <% if user_signed_in? && current_user.id == t.user_id %> 
          <%= link_to "編集する", edit_bean_path(t.id) %>
          <%= link_to "削除する", bean_path(t.id), method: :delete, data: { confirm: "削除しますか？" }%>
          <span class="date"><%= t.created_at.to_s(:datetime_jp) %></span>
        <% end %>
      </div>
    <% end %>
<% end %>
<div class="Separator4"><hr color="#ffffff"></div>

<br>
<div class="heading">
  いいね一覧
</div>
<% @user.liked_beans.each do |t| %>
      <div class="bean">
      <div class="product_name">
        <%= t.brand %><p>
      </div>
      <div class="thumbnail">
        <%= image_tag t.image_url, size: "250x200" if t.image? %><p>
      </div>
      <span class="heart"><i class="far fa-heart"></i><%= t.likes.count %></span>
      <%= link_to "詳細へ", bean_path(t.id) %>
      <% if user_signed_in? && current_user.id == t.user_id %> 
        <%= link_to "編集する", edit_bean_path(t.id) %>
        <%= link_to "削除する", bean_path(t.id), method: :delete, data: { confirm: "削除しますか？" }%>
      <% end %>
    <div class="date">
      <%= t.created_at.to_s(:datetime_jp) %>
    </div>
<% end %>
<div class="Separator4"><hr color="#ffffff"></div>

<br>
<div class="heading">
  <%= link_to "投稿一覧に戻る", beans_path %>
</div>











