<%= stylesheet_link_tag "registration", :media => "all" %>
<center>
<div class="box_rgst">
      <div class="registration_heading">
        新規登録
      </div>
      <div class="user_title">
        メールアドレスとパスワードを登録してください
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <!--サインアップ時に名前を入力できるようにフォームを追加-->
      <div class="field">
        <div class="user_title2">
          ユーザー名
        </div>
        <%= f.text_field :name, autofocus: true %>
      </div>
      
      <div class="field">
        <div class="user_title2">
          メールアドレス
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <div class="field field1">
        <span class="user_title4">パスワード</span>
        <span class="mini_txt">(最低6文字)</span><p>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <span class="mini_txt">パスワードを記憶する</span>
        </div>
      <% end -%>
      
      <div class="actions">
        <%= f.submit "新規登録", class:"submit_btn" %>
      </div>
      <% end %>
    </div>
  
      <div class="user_title3">
        <%= link_to "ログイン", new_session_path(resource_name) %><p>
        <%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name) %>
      </div>
</div>
